{% extends "v2/layouts/ccs.html" %}
{% set isLoggedOut = true %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. your <a href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="/v2/baseline-approach">
        <span class="govuk-caption-m">Add a saving</span>
        <h1 class="govuk-heading-l">How did you calculate what this procurement would have cost?</h1>

        {{ govukRadios({
          name: "baseline-approach",
          fieldset: {
            legend: {
              text: "Select how you estimated the cost",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Used our original budget allocation",
              text: "Used our original budget allocation"
            },
            {
              value: "Compared with industry standards",
              text: "Compared with industry standards"
            },
            {
              value: "Researched current market rates",
              text: "Researched current market rates"
            },
            {
              value: "Used the median of all competitive bids",
              text: "Used the median of all competitive bids"
            },
            {
              value: "Compared with our last contract",
              text: "Compared with our last contract"
            },
            {
              value: "Detailed cost modelling",
              text: "Detailed cost modelling"
            }
          ]
        }) }}

        {{ govukInput({
            id: "baseline-value",
            name: "baseline-value",
            label: {
              text: "What would this procurement have cost without these savings?",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            prefix: {
              text: "£"
            },
            classes: "govuk-input--width-10",
            spellcheck: false
          }) }}

        {{ govukButton({
        text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}