{% extends "layouts/ccs.html" %}
{% set isLoggedOut = true %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. your <a href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="/v2/strategic-value-summary">
{#
        {% set html %}
        <h3 class="govuk-notification-banner__heading">
            Your strategic value data has been recorded successfully.
          </h3>
        <p class="govuk-body">Below is a summary of the non-cashable and non-monetisable savings you have provided.</p>
        {% endset %}

        {{ govukNotificationBanner({
          html: html,
          type: "success"
        }) }}
#}
        <h1 class="govuk-heading-l">Review your benefit savings</h1>

        {{ govukSummaryList({
          card: {
            title: {
              text: "Contract details"
            }
          },
          rows: [
            {
              key: {
                text: "Contract title"
              },
              value: {
                html: contract.title
              }
            },
            {
              key: {
                text: "Contract value"
              },
              value: {
                html: contract.value
              }
            }
          ]
        }) }}

        {{ govukSummaryList({
          card: {
            title: {
              text: "Your cashable savings data"
            }
          },
          rows: [
            {
              key: {
                text: "How did you make a saving?"
              },
              value: {
                html: data['cashable-savings-type']
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "savings type"
                  }
                ]
              }
            },
            {
              key: {
                text: "How did you calculate what the procurement would have cost?"
              },
              value: {
                html: data['baseline-approach']
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "baseline approach"
                  }
                ]
              }
            },
            {
              key: {
                text: "What would this procurement have cost without these savings?"
              },
              value: {
                html: data['baseline-value'] or "£6"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "baseline value"
                  }
                ]
              }
            }
          ]
        }) }}

        {% set savingsQuestionText = data['non-cashable-type'] | nonCashableSavingsQuestion %}

        {{ govukSummaryList({
          card: {
            title: {
              text: "Savings benefit 1"
            }
          },
          rows: [
            {
              key: {
                text: "Which other budget protection or benefits do you want to add?"
              },
              value: {
                html: data['strategic-value']
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "savings type"
                  }
                ]
              }
            },
            {
              key: {
                text: "What benefit did you achieve?"
              },
              value: {
                html: data['non-cashable-type']
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "specific benefit"
                  }
                ]
              }
            },
            {
              key: {
                text: savingsQuestionText
              },
              value: {
                html: data['non-cashable-savings-value'] or "£10,000"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "cash value of the benefit you achieved"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ govukRadios({
          name: "addStrategicValue",
          fieldset: {
            legend: {
              text: "Do you want to add another value benefit that is not a direct cost savings?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            html: "<p>This includes things like budget protections, social benefits, or policy targets.</p>"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, continue to calculation results"
            }
          ]
        }) }}

        {{ govukButton({
        text: "Continue"
      }) }}

        <p>
          <a href="">Cancel</a>
        </p>
      </form>
    </div>
  </div>

{% endblock %}