{% extends "v3/layouts/ccs.html" %}
{% set isLoggedIn = true %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
	{{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. your <a href="#">feedback</a> will help us to improve it.'
  }) }}

	{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}

{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<form method="post" action="/v3/non-monetisable-type">
				<span class="govuk-caption-m">Add a saving</span>

				{{ govukRadios({
          name: "non-monetisable-type",
          fieldset: {
            legend: {
              text: "Which benefit did you achieve?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Improved how services are delivered",
              text: "Improved how services are delivered",
              hint: {
                text: "You made a service faster, better or more reliable without spending more money."
              }
            },
            {
              value: "Saved staff time or resources",
              text: "Saved staff time or resources",
              hint: {
                text: "You reduced the time staff spend on a task, or avoided the need to hire more people or buy equipment."
              }
            },
            {
              value: "Met official rules or policies",
              text: "Met official rules or policies",
              hint: {
                text: "You met a legal requirement or supported a wider government goal, like improving sustainability."
              }
            },
            {
              value: "Boosted reputation or user satisfaction",
              text: "Boosted reputation or user satisfaction",
              hint: {
                text: "You provided a better experience for the people using your service, or improved public trust in your organisation."
              }
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: '<label class="govuk-label govuk-label--s" for="non-monetisable-type-other">Enter the type of benefit</label><input class="govuk-input govuk-!-width-two-thirds" id="non-monetisable-type-other" name="non-monetisable-type-other" type="text">'
              }
            }
          ]
        }) }}

				{{ govukButton({
        text: "Continue"
      }) }}

			</form>
		</div>
	</div>

{% endblock %}