{% extends "v1/layouts/ccs.html" %}
{% set isLoggedOut = true %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. your <a href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="/v1/non-cashable">
        <h1 class="govuk-heading-l">Strategic Value</h1>

        <h2 class="govuk-heading-m">Non-Cashable and Non-Monetisable Savings</h2>

        <p>Select the category that best describes your savings methodology.</p>

        {% set nonCashableTypeHtml %}
        {{ govukSelect({
            id: "nonCashableType",
            name: "nonCashableType",
            label: {
              text: "Savings type",
              classes: "govuk-label--s"
            },
            hint: {
              text: "Select from dropdown option"
            },
            items: [
              {
                value: "choose",
                text: "Select a type",
                selected: true
              },
              {
                value: "cost-avoidance",
                text: "Cost avoidance"
              },
              {
                value: "price-protection",
                text: "Price protection"
              },
              {
                value: "value-add",
                text: "Value-add"
              },
              {
                value: "inflation-avoidance",
                text: "Inflation avoidance"
              },
              {
                value: "improved-demand-management",
                text: "Improved demand management"
              }
            ]
          }) }}
        {% endset -%}

        {% set nonMonetisableTypeHtml %}
        {{ govukSelect({
            id: "nonMonetisableType",
            name: "nonMonetisableType",
            label: {
              text: "Savings type",
              classes: "govuk-label--s"
            },
            hint: {
              text: "Select from dropdown option"
            },
            items: [
              {
                value: "choose",
                text: "Select a type",
                selected: true
              },
              {
                value: "delivery-of-capability",
                text: "Delivery of capability / required business change"
              },
              {
                value: "resource-management",
                text: "Resource management"
              },
              {
                value: "key-organisational-enablers",
                text: "Key organisational enablers / service value"
              },
              {
                value: "compliance",
                text: "Compliance"
              },
              {
                value: "strategic",
                text: "Strategic"
              }
            ]
          }) }}
        {% endset -%}

        {{ govukRadios({
          name: "strategicValue",
          fieldset: {
            legend: {
              text: "What type of strategic value have you achieved?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select one option"
          },
          items: [
            {
              value: "non-cashable",
              text: "Non-Cashable",
              hint: {
                text: "Quantifiable financial benefits which don't release cash back into a budget. The cost of the output stays the same, but the effectiveness of the spend increases."
              },
              conditional: {
                html: nonCashableTypeHtml
              }
            },
            {
              value: "non-monetisable",
              text: "Non-Monetisable",
              hint: {
                text: "Savings which are not easily or credibly expressed in monetary terms, but provide important organisational, social or reputational value."
              },
              conditional: {
                html: nonMonetisableTypeHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
        text: "Continue"
      }) }}

        <p>
          <a href="">Cancel</a>
        </p>
      </form>
    </div>
  </div>

{% endblock %}