{% extends "v3/layouts/ccs.html" %}
{% set isLoggedIn = true %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. your <a href="#">feedback</a> will help us to improve it.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">How do you want to add your savings data?</h1>
      <p class="govuk-body">For each contract, you can record a cash saving and any other benefits achieved, such as price protections or performance benefits.</p>
      <!--<p class="govuk-body">Choose the option that best matches the number of contracts you need to add.</p>-->

      <form method="post" action="/v3/add-a-saving">
        {{ govukRadios({
          name: "savings-data-method",
          fieldset: {
            legend: {
              text: "How do you want to add your savings data?",
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "single-contract",
              text: "Add savings for a single contract",
              hint: {
                text: "Enter the savings for each contract online. This is useful when you add savings as you complete a contract."
              }
            },
            {
              value: "bulk-upload",
              text: "Add savings for many contracts at once",
              hint: {
                text: "Upload a spreadsheet of savings data. You can download a template on the next page."
              }
            }
          ]
        }) }}

        {{ govukButton({
        text: "Continue"
      }) }}

      </form>
    </div>
  </div>

{% endblock %}