{% extends "v3/layouts/ccs.html" %}
{% set isLoggedIn = true %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
	{{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. your <a href="#">feedback</a> will help us to improve it.'
  }) }}

	{{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.go(-1);"
  }) }}

{% endblock %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<form method="post" action="/v3/cashable-savings">
				<input type="hidden" name="ocid" value="{{ ocid or contract.ocid }}">

				<span class="govuk-caption-m">Add a saving</span>

				{{ govukRadios({
          name: "cashable-savings",
          fieldset: {
            legend: {
              text: "Do you want to add a cashable saving?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "<p>Cashable savings happen when you buy something for less money than you planned to spend, leaving you with leftover money that you can choose to spend on other different projects.</p>"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

				{{ govukButton({
        text: "Continue"
      }) }}

			</form>
		</div>
	</div>

{% endblock %}