{% extends "v3/layouts/ccs.html" %}
{% set isLoggedIn = false %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Commercial Value Tool</h1>
      <p>This service is for commercial and procurement professionals at contracting authorities who need to record and understand the value created through their contracts.</p>

      <h2 class="govuk-heading-m">What you can do</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>record savings and other benefits from awarded contracts</li>
        <li>compare your organisation's procurement activity with similar procurements and peer organisations</li>
        <li>view, share and export reports about your organisation's commercial value</li>
      </ul>

      <h2 class="govuk-heading-m">
      Before you start
    </h2>

      <p>To use this service, you will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a <a class="govuk-link" href="#">GOV.UK One Login</a>
        </li>
        <li>contract award notice data from the <a class="govuk-link" href="#">Central Digital Platform (CDP)</a>
        </li>
        <li>details of any direct cash savings made against your contract budget</li>
        <li>details of any price protections, budget freezes, or performance benefits achieved</li>
      </ul>

      {{ govukButton({
      text: "Log in",
      href: "sign-in",
      isStartButton: true
    }) }}

      <h3 class="govuk-heading-m">Data privacy</h3>
      <p>Your data is processed securely and used only for the purposes of commercial value calculations. You can export and delete your data at any time.</p>

      <h3 class="govuk-heading-m">Guidance and support</h3>
      <p>Read <a class="govuk-link" href="#">guidance on recording commercial savings and benefits</a> before you start, or <a class="govuk-link" href="#">contact us</a> for support.</p>
    </div>
  </div>

{% endblock %}