{% extends "v3/layouts/ccs.html" %}
{% set isLoggedIn = false %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Commercial Value Tool</h1>
      <p>Use this service to record and compare the value created through your contracts.</p>

      <p>This service is for commercial and procurement professionals at contracting authorities.</p>

      <h2 class="govuk-heading-m">What you can do</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>record savings and benefits from awarded contracts</li>
        <li>compare your procurement activity with similar organisations</li>
        <li>view, share and export reports about your commercial value</li>
      </ul>

      <h2 class="govuk-heading-m">
      Before you start
    </h2>

      <p>You will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a <a class="govuk-link" href="#">GOV.UK One Login</a>
        </li>
        <li>contract award notice data associated with the<a class="govuk-link" href="#">Central Digital Platform (CDP)</a>
        </li>
        <li>details of any cash savings made against your budget</li>
        <li>details of any price protections, fixed prices or performance benefits you achieved</li>
      </ul>

      {{ govukButton({
      text: "Start now",
      href: "sign-in",
      isStartButton: true
    }) }}

      <h3 class="govuk-heading-m">Data privacy</h3>
      <p>We process your data securely and only use it to calculate commercial value. You can export or delete your data at any time.</p>

      <h3 class="govuk-heading-m">Need help?</h3>
      <p>If you need support please <a class="govuk-link" href="#">contact us</a>, or visit our help page once you log in.</p>
    </div>
  </div>

{% endblock %}