{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>



    <h2 class="govuk-heading-m">Beta Round 1</h2>
    <p> <a href="v2/start" class="govuk-link">Commercial Value Dashboard v2</a></p>
    <p><strong>Testing July 2026 TBC</strong></p>
    <p>Beta round 1 addresses the content and terminology issues found in the baseline design</p>
    <p>Breaking out complex parts of the flow to make it easier for the user</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Alpha Round 1</h2>
    <p> <a href="v1/start" class="govuk-link">Commercial Value Dashboard v1</a></p>
    <p><strong>Testing June 2026</strong></p>
    <p>Alpha round 1 was the baseline design to test what had been designed and built before UCD</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    


    
    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
